@import "modules/variables";
@import "modules/mixin";
@import "modules/appear";
@import "modules/button";
@import "modules/hero-slider";
@import "modules/text-animation";
@import "modules/image-slide";
@import "modules/mobile-menu";

@import "breakpoints/base";

@media (min-width: 480px) {
  @import "breakpoints/480up";
}

@media (min-width: 600px) {
  @import "breakpoints/600up";
}

@media (min-width: 960px) {
  @import "breakpoints/960up";
}

@media (min-width: 1280px) {
  @import "breakpoints/1280up";
}

@media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {
  @import "breakpoints/2x";
}

@media print {
  @import "breakpoints/print";
}.map {
  text-align: center;
}.pd-top {
  padding-top: 30px;
}.popular{
  background-color: #ffffff;
}.red{
  color:rgb(255, 82, 82);
}.pd-top2{
  padding-top: 100px;
}.img-width{
  height:40%;
  width:40%;
  margin:30px 0;
}.img-width1{
  height:52%;
  width:52%;
  margin:30px 0;
}.horizon{
  display:flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
}.air{
  height:50px;
}.mobile-menu{
  top:10px;
}.green{
  color:rgb(35, 206, 35);
}.top{
  top:200px;
}.big{
  font-size: 20px;
}.blue{
  color:rgb(102, 151, 243);
}
.air2{
  height:80px;
}
.mini{
  display: flex;
  justify-content: space-around;
}